.content {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}

.bigContainer {
    display: flex;
    flex-direction: column;
    width: 80%;

    background-color: #61892F;
    box-shadow: 0px 4px 40px rgba(116, 124, 153, 0.74);
    border-radius: 20px;

    margin: 10px auto;
    padding: 20px 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}


p {
    text-align: center;
    font-size: 22px;
}


.btnContainer {
    display: flex;
    justify-content: center;
}


.modal {
    position: fixed;
    top: 20%;
    left: 35%;
    width: 30%;
    height: 50%;
    background-color: rgba(214, 204, 204, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    border-radius: 30px;
}

.btnClose {
    background-color: #86C232;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

.btnClose a {
    text-decoration: none;
    color: #fff;
}


@media (max-width: 900px) {
    .bigContainer {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .bigContainer {
        width: 95%;
    } 

    .modal {
        left: 10%;
        width: 70%;
    }

}